<template>
  <q-page class="flex flex-center">
    <div class="canvas-box">
      <div id="vue-canvas" ref="canvas"></div>
    </div>
  </q-page>
</template>

<script>
const P5 = require("p5");
export default {
  name: "introductionPage",
  data() {
    return {
      data: [],
    };
  },
  mounted() {
    this.drawP5();
  },
  methods: {
    drawP5() {
      const script = function (p5) {
        let angle = p5.PI / 4;
        let slider;
        function branch(len) {
          p5.line(0, 0, 0, -len);
          p5.translate(0, -len);
          if (len > 4) {
            p5.push();
            p5.rotate(angle);
            branch(len * 0.67);
            p5.pop();
            p5.push();
            p5.rotate(-angle);
            branch(len * 0.67);
            p5.pop();
          }
        }
        p5.setup = () => {
          p5.createCanvas(400, 400);
          // slider = p5.createSlider(0, p5.TWO_PI, p5.PI / 4);
          // slider.position(800, 800);
        };

        p5.draw = () => {
          p5.background(0);
          // angle = slider.value();
          p5.stroke(100, 255, 100);
          p5.translate(200, p5.height);
          branch(100);
        };
      };
      new P5(script);
    },
  },
};
</script>
