<template>
  <q-page class="row">
    <q-card class="row q-mr-md fixed full-height" square>
      <q-section-card>
        <q-item class="text-h6">商城中心</q-item>
        <q-item
          v-for="(item, index) in shopMenu"
          class="items-center"
          :class="data === item.path ? 'text-cyan-5' : ''"
          :key="index"
          clickable
          dense
          @click="changePage(item.path)"
        >
          {{ item.label }}</q-item
        >
      </q-section-card>
    </q-card>

    <component :is="data" class="col-11 absolute-right q-mr-md" />
  </q-page>
</template>

<script>
import SeasonCom from "@pages/MallCenter/IsCom/SeasonCom.vue";
import ProductCom from "@pages/MallCenter/IsCom/ProductCom.vue";
import EvaluationCom from "@pages/MallCenter/IsCom/EvaluationCom.vue";
export default {
  name: "MallCenterPage",
  components: {
    SeasonCom,
    ProductCom,
    EvaluationCom,
  },
  data() {
    return {
      data: "SeasonCom",
      shopMenu: [
        {
          label: "數季統計",
          path: "SeasonCom",
        },
        {
          label: "商品管理",
          path: "ProductCom",
        },
        {
          label: "商品評價",
          path: "EvaluationCom",
        },
      ],
    };
  },
  methods: {
    changePage(path) {
      this.data = path;
    },
  },
};
</script>
