<template>
  <q-page>
    <div class="box-wrap">
      <div v-for="(item, index) in 9" :key="index">
        <div ref="box" class="box" @click="fcClick(index)"></div>
      </div>
    </div>
    <button class="btn" @click="fcReset()">重新開始</button>
  </q-page>
</template>

<script>
export default {
  name: "CircleForkPage",
  data() {
    return {
      text: "",
      mark: true,
    };
  },

  methods: {
    fcClick(index) {
      this.mark = !this.mark;
      for (let i = 0; i < this.$refs.box.length; i++) {
        if (index == i) {
          this.text = this.mark ? "o" : "x";
          this.$refs.box[i].innerHTML = this.text;
        }
      }
    },
    fcReset() {
      for (let i = 0; i < this.$refs.box.length; i++) {
        this.$refs.box[i].innerHTML = "";
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.box-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 360px;

  .box {
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    line-height: 100px;
  }
}

.btn {
  padding: 5px 10px;
  margin-left: 10px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
</style>
