<template>
  <q-page class="flex flex-center column">
    <div>Flappy Bird</div>
    <div class="canvas-box">
      <div id="vue-canvas" ref="canvas"></div>
    </div>
  </q-page>
</template>

<script>
const P5 = require("p5");

export default {
  name: "FlappyBirdPage",
  props: {
    sketch: Function,
  },
  data() {
    return {};
  },

  methods: {
    drawP5() {
      const script = function (p5) {
        function Bird() {
          this.y = p5.height / 2;
          this.x = 25;
          this.gravity = 0.6;
          this.velocity = 0;
          this.lift = -15;
          this.show = function () {
            p5.fill(255);
            p5.ellipse(this.x, this.y, 32, 32);
          };
          this.update = function () {
            this.velocity += this.gravity;
            this.velocity *= 0.9;
            this.y += this.velocity;
            if (this.y > p5.height) {
              this.y = p5.height;
              this.velocity = 0;
              this.infinite();
            }
            if (this.y < 0) {
              this.y = 0;
              this.velocity = 0;
            }
          };
          this.up = function () {
            this.velocity += this.lift;
          };
          this.infinite = function () {
            this.velocity += -this.gravity * 25;
          };
        }
        function Pipe() {
          this.gapSize = 120;
          this.gapLocation = p5.random(this.gapSize, p5.height - this.gapSize);
          this.top = this.gapLocation - this.gapSize / 2;
          this.bottom = this.gapLocation + this.gapSize / 2;
          this.x = p5.width;
          this.width = 20;
          this.speed = 2;
          this.highlight = false;

          this.show = function () {
            p5.fill(255);

            p5.rect(this.x, 0, this.width, this.top);
            p5.rect(this.x, this.bottom, this.width, p5.height - this.bottom);
          };
          this.update = function () {
            this.x -= this.speed;
          };
          this.offscreen = function () {
            if (this.x < -this.width) {
              return true;
            } else {
              return false;
            }
          };
          this.hit = function (bird) {
            if (bird.y < this.top || bird.y > this.bottom) {
              if (bird.x > this.x && bird.x < this.x + this.width) {
                return true;
              }
            }

            this.highlight = false;
            return false;
          };
        }
        let bird;
        let pipes = [];
        let gamePaused = true;
        let title = "press Space to play , S to start";
        let score = 0;
        p5.setup = () => {
          const canvas = p5.createCanvas(400, 400);
          canvas.parent("vue-canvas");
          bird = new Bird();
          pipes.push(new Pipe());
          p5.noLoop();
        };
        // NOTE: Draw is here
        p5.draw = () => {
          p5.background(0);
          bird.show();
          bird.update();
          if (p5.frameCount % 100 == 0) {
            pipes.push(new Pipe());
          }
          for (let i = pipes.length - 1; i >= 0; i--) {
            pipes[i].show();
            pipes[i].update();
            if (pipes[i].hit(bird)) {
              p5.noLoop();
              gamePaused = true;
              title = "press S to restart";
            }
            if (pipes[i].offscreen()) {
              pipes.splice(i, 1);
              score += 10;
            }
          }
          if (gamePaused == true) {
            p5.push();
            p5.fill(255);
            p5.stroke(0);
            p5.strokeWeight(3);
            p5.textSize(30);
            p5.text("Flappy Bird", 60, 150);
            p5.textSize(20);
            p5.text(title, 60, 250);
            p5.pop();
          }
          p5.push();
          p5.fill(255);
          p5.stroke(0);
          p5.strokeWeight(3);
          p5.textSize(20);
          p5.text(`score:${score}`, 10, 20);
          p5.pop();
        };
        p5.keyPressed = () => {
          if (p5.key === "p") {
            p5.noLoop();
            gamePaused = true;
          }

          if (p5.key === " " && gamePaused == false) {
            p5.loop();
            bird.up();
          }
          if (p5.key === "s") {
            bird = new Bird();
            pipes = [];
            p5.loop();
            gamePaused = false;
            score = 0;
          }
        };
      };
      return script;
    },

    start() {
      new P5(this.drawP5());
    },
  },
  mounted() {
    this.start();
  },
};
</script>
<style lang="scss" scoped>
.canvas-box {
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid #000;

  #vue-canvas {
    width: 100%;
    height: 100%;
  }

  .startBtn,
  .resetBtn {
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;

    &.hide {
      display: none;
    }
  }
}
</style>
