<template>
  <q-page>
    <div class="top-wrap q-pa-md q-mx-md bg-white q-mb-md">
      <div class="q-mb-md flex items-center text-subtitle2">
        <q-icon name="flight"></q-icon>
        <span>快捷導航</span>
      </div>
      <div class="row q-col-gutter-md">
        <div class="col-3" v-for="(item, index) in navigation" :key="index">
          <q-item class="bg-grey-2 rounded-borders" :href="item.path">
            <q-item-section>
              <q-item-label class="text-center">{{ item.label }}</q-item-label>
            </q-item-section>
          </q-item>
        </div>
        <div class="col-3">
          <q-item class="q-col-futter-md bg-grey-2 rounded-borders">
            <q-item-section>
              <label class="text-center">
                <q-icon
                  class="cursor-pointer text-h6"
                  name="add_circle"
                  @click="OpenNavigation()"
                ></q-icon>
              </label>
            </q-item-section>
          </q-item>
        </div>
      </div>
    </div>
    <div class="top-wrap q-pa-md q-mx-md bg-white q-mb-md">
      <div class="q-my-md flex items-center text-subtitle2">
        <q-icon name="computer"></q-icon>
        <span>內容統計</span>
      </div>
      <div class="row q-col-gutter-md">
        <div class="col-3" v-for="(item, index) in content" :key="index">
          <q-item class="bg-grey-2 rounded-borders q-py-sm">
            <q-item-section>
              <q-item-label class="text-grey-7">{{ item.label }}</q-item-label>
              <q-item-label class="text-cyan-5 text-h4">{{
                item.value
              }}</q-item-label>
            </q-item-section>
          </q-item>
        </div>
        <div class="col-3">
          <q-item class="q-col-futter-md bg-grey-2 rounded-borders q-py-sm">
            <q-item-section>
              <label class="text-grey-7 q-mb-sm">添加統計</label>
              <label class="text-cyan-5 text-h6">
                <q-icon
                  class="cursor-pointer"
                  name="add_circle"
                  @click="OpenContent()"
                ></q-icon>
              </label>
            </q-item-section>
          </q-item>
        </div>
      </div>
    </div>
    <div class="top-wrap q-pa-md q-mx-md bg-white q-mb-md">
      <div class="q-my-md flex items-center text-subtitle2">
        <q-icon name="tune"></q-icon>
        <span>系統信息</span>
      </div>
      <q-markup-table separator="cell" flat bordered>
        <tbody>
          <tr class="row" v-for="(item, index) in systemData" :key="index">
            <td class="col-2 bg-grey-2">{{ item.one.label }}</td>
            <td class="col-4">{{ item.one.value }}</td>
            <td class="col-2 bg-grey-2">{{ item.two.label }}</td>
            <td class="col-4">{{ item.two.value }}</td>
          </tr>
        </tbody>
      </q-markup-table>
    </div>
    <div class="top-wrap q-pa-md q-mx-md bg-white q-mb-md">
      <div class="q-my-md flex items-center text-subtitle2">
        <q-icon name="dns"></q-icon>
        <span>服務器信息</span>
      </div>
      <q-markup-table separator="cell" flat bordered>
        <tbody>
          <tr class="row" v-for="(item, index) in serverData" :key="index">
            <td class="col-2 bg-grey-2">{{ item.one.label }}</td>
            <td class="col-4">{{ item.one.value }}</td>
            <td class="col-2 bg-grey-2">{{ item.two.label }}</td>
            <td class="col-4">{{ item.two.value }}</td>
          </tr>
        </tbody>
      </q-markup-table>
    </div>

    <q-dialog v-model="navigationItem">
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-subtitle2">快速導航管理</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section>
          <div>
            <q-option-group
              v-model="group"
              :options="optionsNavigation"
              color="cyan-5"
              type="checkbox"
              inline
            />
          </div>
          <q-btn
            class="q-mt-md bg-cyan-5 text-subtitle2"
            outline
            color="white"
            @click="AddNavigation()"
            >添加</q-btn
          >
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="contentItem">
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-subtitle2">內容統計管理</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section>
          <div>
            <q-option-group
              v-model="group"
              :options="optionsContent"
              color="cyan-5"
              type="checkbox"
              inline
            />
          </div>
          <q-btn
            class="q-mt-md bg-cyan-5 text-subtitle2"
            outline
            color="white"
            @click="AddContent()"
            >添加</q-btn
          >
        </q-card-section>
      </q-card>
    </q-dialog>
    <div class="text-center q-pb-md">Copyright © 2023 LOUIS</div>
  </q-page>
</template>

<script>
export default {
  name: "IndexPage",
  data() {
    return {
      navigationItem: false,
      contentItem: false,
      group: [],
      navigation: [
        {
          label: "介紹",
          path: "/docs/introduction",
        },
        {
          label: "貪吃蛇",
          path: "/snake",
        },
        {
          label: "彈跳鳥",
          path: "/flappy-bird",
        },
        {
          label: "攝影",
          path: "/about",
        },
        {
          label: "readme",
          path: "/readme",
        },
        {
          label: "circle-fork",
          path: "/circle-fork",
        },
      ],
      content: [
        {
          label: "文章",
          value: 15,
        },
        {
          label: "廣告",
          value: 10,
        },
        {
          label: "連接",
          value: 5,
        },
        {
          label: "標籤",
          value: 20,
        },
      ],
      optionsNavigation: [
        { path: "/docs/introduction", label: "介紹", value: "1" },
        { path: "/snake", label: "貪吃蛇", value: "2" },
        { path: "/flappy-bird", label: "彈跳鳥", value: "3" },
        { path: "/about", label: "攝影", value: "4" },
        { path: "/readme", label: "readme", value: "5" },
        { path: "/circle-fork", label: "circle-fork", value: "6" },
      ],
      optionsContent: [
        {
          label: "文章",
          value: 15,
        },
        {
          label: "廣告",
          value: 10,
        },
        {
          label: "連接",
          value: 5,
        },
        {
          label: "標籤",
          value: 20,
        },
      ],
      systemData: [
        {
          one: {
            label: "系統",
            value: "macOS",
          },
          two: {
            label: "當前版本",
            value: "V1.0.0",
          },
        },
        {
          one: {
            label: "網站名稱",
            value: "Quasar App",
          },
          two: {
            label: "版權所有",
            value: "Louis",
          },
        },
      ],
      serverData: [
        {
          one: {
            label: "服務器",
            value: "Linux",
          },
          two: {
            label: "服務器IP",
            value: "localhost:8080",
          },
        },
        {
          one: {
            label: "服務器環境",
            value: "apache",
          },
          two: {
            label: "PHP版本",
            value: "7.4.3",
          },
        },
        {
          one: {
            label: "文件上傳限制",
            value: "50M",
          },
          two: {
            label: "最大內存",
            value: "128M",
          },
        },
        {
          one: {
            label: "POST最大限制",
            value: "50M",
          },
          two: {
            label: "最大執行時間",
            value: "300s",
          },
        },
        {
          one: {
            label: "ZIP支持",
            value: "是",
          },
          two: {
            label: "GD庫支持",
            value: "是",
          },
        },
      ],
    };
  },
  methods: {
    OpenNavigation() {
      this.navigationItem = true;
    },
    OpenContent() {
      this.contentItem = true;
    },
    AddNavigation() {
      this.navigation = this.navigation.concat(
        this.optionsNavigation.filter((item) => this.group.includes(item.value))
      );
      this.navigationItem = false;
    },
    AddContent() {
      this.content = this.content.concat(
        this.optionsContent.filter((item) => this.group.includes(item.value))
      );
      this.contentItem = false;
    },
  },
  beforeRouteEnter(to, from, next) {
    console.log("组件内部守卫: beforeRouteEnter,");
    next();
  },
  beforeRouteUpdate(to, from, next) {
    console.log("组件内部守卫: beforeRouteUpdate,");
    next();
  },
  beforeRouteLeave(to, from, next) {
    console.log("组件内部守卫: beforeRouteLeave,");
    next();
  },
  beforeCreate() {
    console.log("beforeCreate called");
  },
  created() {
    console.log("created called");
  },
  beforeMount() {
    console.log("beforeMount called");
  },
  mounted() {
    console.log("mounted called");
  },
  beforeUpdate() {
    console.log("beforeUpdate called");
  },
  updated() {
    console.log("update called");
  },
};
</script>
<style lang="scss" scoped>
.system {
  .col {
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
  }
}
</style>
