<template>
  <div
    class="flex justify-center items-center q-electron-drag"
    style="height: 100vh"
  >
    <div
      class="row base-card-shadow electron-hide"
      style="width: 60vw; min-width: 300px"
    >
      <div class="col flex justify-center items-center">
        <q-card
          square
          style="width: 450px; min-width: 200px; height: 100%"
          class="no-shadow"
        >
          <q-card-section>
            <h3 class="text-uppercase text-center">apple</h3>
            <!-- 用户名 -->
            <q-input
              v-model="username"
              class="login-input"
              clearable
              standout="bg-cyan text-white"
              bottom-slots
              label="帳號"
              :rules="[(val) => !!isValid || '請填入4-16位英文或數字']"
              no-error-icon
            >
              <template #prepend>
                <q-icon name="account_circle" />
              </template>
            </q-input>
            <!-- 密码 -->
            <q-input
              v-model="password"
              class="login-input"
              standout="bg-cyan text-white"
              bottom-slots
              label="密碼"
              :type="isPwd ? 'password' : 'text'"
              :rules="[(val) => !!isValid || '請填入4-16位英文或數字']"
              no-error-icon
            >
              <template #prepend>
                <q-icon name="key" />
              </template>
              <template #append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            <q-toggle v-model="state" color="cyan" label="記住帳密" />

            <q-btn
              class="login-btn bg-login"
              text-color="white"
              unelevated
              :loading="loading"
              @click="fcLogin()"
              >登入系統
            </q-btn>
            <p class="text-grey">
              帳號:admin &nbsp;&nbsp;&nbsp;&nbsp;密碼為a123456
            </p>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from "vue";
import { useRouter } from "vue-router";
import { useQuasar } from "quasar";
const $q = useQuasar();
const router = useRouter();
const isPwd = ref(true);
const username = ref("");
const password = ref("");
const loading = ref(false);
const state = ref(false);
const isValid = computed(() => {
  let reg = /^[a-zA-Z0-9]{4,16}$/;
  return reg.test(username.value);
});

// 登入
function fcLogin() {
  let token_rules = parseInt(Math.random() * 123456789, 10);
  loading.value = !loading.value;
  if (username.value === "admin" && password.value === "a123456") {
    localStorage.setItem("access_token", token_rules + username.value);
    if (state.value) {
      localStorage.setItem("user_name", username.value);
      localStorage.setItem("user_level", "0");
    } else {
      localStorage.removeItem("user_name");
      localStorage.removeItem("user_level");
    }
    const login_time = setTimeout(() => {
      router.push("/").then(() => {
        $q.notify({
          icon: "insert_emoticon",
          message: "登入成功",
          color: "cyan",
          position: "top",
          timeout: 1500,
        });
        clearTimeout(login_time);
        loading.value = !loading.value;
      });
    }, 1500);
  } else {
    loading.value = !loading.value;
    $q.notify({
      icon: "announcement",
      message: "登入失敗",
      color: "red",
      position: "top",
      timeout: 1500,
    });
  }
}
function fcCheckRember() {
  if (localStorage.getItem("user_name")) {
    username.value = "admin";
    password.value = "a123456";
    state.value = true;
  }
}
fcCheckRember();
</script>

<style lang="scss" scoped>
.login-btn {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  font-size: large;

  &.bg-login {
    background: linear-gradient(to right, #36d1dc 1%, #5b86e5 99%);
    background-size: 200% auto;
    transition: all 0.3s ease-in-out;
  }

  &.bg-login:hover {
    background-position: right center;
    box-shadow: 0 12px 20px -11px #5b86e5;
  }
}

::v-deep .q-field--error {
  .q-field__bottom {
    color: #36d1dc;
  }

  .q-field__label {
    color: #36d1dc;
  }
}

::v-deep .q-field--standout.q-field--highlighted {
  .q-field__control {
    background: rgb(135, 135, 135);
  }
}
</style>
