<template>
  <q-page class="flex flex-center column">
    <div>snake</div>
    <div class="canvas-box">
      <div id="vue-canvas" ref="canvas"></div>
    </div>
  </q-page>
</template>

<script>
const P5 = require("p5");
export default {
  name: "SnakePage ",
  data() {
    return {
      snake: "snake",
    };
  },
  methods: {
    drawP5() {
      const script = function (p5) {
        let s;
        let scl = 20;
        let food;
        let text = "Game Over";
        let title = "press Space to play , P to pause";
        let gamePaused = true;
        // 蛇本體
        function Snake() {
          this.x = 0;
          this.y = 0;
          this.xspeed = 1;
          this.yspeed = 0;
          this.total = 0;
          this.tail = [];
          this.show = function () {
            p5.fill(255);
            for (let i = 0; i < this.tail.length; i++) {
              p5.rect(this.tail[i].x, this.tail[i].y, scl, scl);
            }
            p5.rect(this.x, this.y, scl, scl);
          };
          this.update = function () {
            for (let i = 0; i < this.tail.length - 1; i++) {
              this.tail[i] = this.tail[i + 1];
            }
            if (this.total >= 1) {
              this.tail[this.total - 1] = p5.createVector(this.x, this.y);
            }
            this.x = this.x + this.xspeed * scl;
            this.y = this.y + this.yspeed * scl;
            this.x = p5.constrain(this.x, 0, p5.width - scl);
            this.y = p5.constrain(this.y, 0, p5.height - scl);
          };
          this.eat = function (food) {
            let d = p5.dist(this.x, this.y, food.x, food.y);
            if (d < 1) {
              this.total++;
              return true;
            } else {
              return false;
            }
          };
          this.death = function () {
            for (let i = 0; i < this.tail.length; i++) {
              let pos = this.tail[i];
              let d = p5.dist(this.x, this.y, pos.x, pos.y);
              if (d < 1) {
                this.total = 0;
                this.tail = [];
                return true;
              }
            }
          };
          this.wall = function () {
            if (
              this.x > p5.width ||
              this.x < 0 ||
              this.y > p5.height ||
              this.y < 0
            ) {
              this.total = 0;
              this.tail = [];
              return true;
            }
          };
        }
        // 食物
        function pickLocation() {
          let cols = p5.floor(p5.width / scl);
          let rows = p5.floor(p5.height / scl);
          food = p5.createVector(
            p5.floor(p5.random(cols)),
            p5.floor(p5.random(rows))
          );

          food.mult(scl);
        }
        p5.setup = () => {
          const canvas = p5.createCanvas(400, 400);
          canvas.parent("vue-canvas");
          s = new Snake();
          p5.frameRate(10);
          pickLocation();
          p5.noLoop();
        };

        p5.draw = () => {
          p5.background(51);
          s.show();
          s.update();
          if (gamePaused) {
            p5.push();
            p5.fill(255);
            p5.stroke(0);
            p5.strokeWeight(3);
            p5.textSize(20);
            p5.text(title, 60, 200);
            p5.pop();
          }

          if (s.death()) {
            p5.noLoop();
            p5.push();
            p5.fill(255, 0, 100);
            p5.textSize(20);
            p5.text(text, 150, 200);
            p5.pop();
          }
          if (s.wall()) {
            p5.noLoop();
            p5.push();
            p5.fill(255, 0, 100);
            p5.textSize(20);
            p5.text(text, 150, 200);
            p5.pop();
          }
          if (s.eat(food)) {
            pickLocation();
          }

          p5.fill(255, 0, 100);
          p5.rect(food.x, food.y, scl, scl);
        };

        p5.keyPressed = () => {
          if (p5.keyCode === p5.UP_ARROW) {
            s.yspeed = -1;
            s.xspeed = 0;
          } else if (p5.keyCode === p5.DOWN_ARROW) {
            s.yspeed = 1;
            s.xspeed = 0;
          } else if (p5.keyCode === p5.RIGHT_ARROW) {
            s.xspeed = 1;
            s.yspeed = 0;
          } else if (p5.keyCode === p5.LEFT_ARROW) {
            s.xspeed = -1;
            s.yspeed = 0;
          } else if (p5.key === " ") {
            p5.loop();
            gamePaused = false;
          } else if (p5.key === "p") {
            p5.noLoop();
            gamePaused = true;
          }
        };
      };
      return script;
    },

    start() {
      new P5(this.drawP5());
    },
  },
  mounted() {
    this.start();
  },
};
</script>
