<template>
  <q-page class="flex flex-center column">
    <SlotItem :data="data">
      <template v-slot:axiosItem="props">
        <div>{{ props.dNation }}</div>
      </template>
    </SlotItem>
    <div v-for="(item, index) in user" :key="index">{{ item.name }}</div>
  </q-page>
</template>

<script>
const axios = require("axios");
import SlotItem from "@components/SlotCom.vue";
import { userAction } from "@action/userAction";
export default {
  name: "ReadmePage",
  components: {
    SlotItem,
  },
  data() {
    return {
      data: [],
      user: [],
    };
  },
  created() {},
  mounted() {
    this.getReadme();
    this.getUser();
  },
  methods: {
    getReadme() {
      axios({
        method: "get",
        url: "https://datausa.io/api/data?drilldowns=Nation&measures=Population",
        responseType: "json",
      }).then((response) => {
        this.data = response.data.data;
      });
    },
    getUser() {
      // fetch("http://localhost:3000/api/users")
      //   .then((response) => response.json())
      //   .then((json) => {
      //     this.user = json.data;
      //   });
      // this.$axios
      //   .get("http://localhost:3000/api/users")
      //   .then((response) => {
      //     this.user = response.data.data;
      //   })
      //   .catch((error) => {
      //     console.log(error);
      //   });
      // userAction
      //   .getUser()
      //   .then((response) => {
      //     this.user = response.data;
      //   })
      //   .catch((error) => {
      //     console.log(error);
      //   });
    },
  },
};
</script>
