<template>
  <div>
    <slot
      name="axiosItem"
      v-for="(item, index) in data"
      :key="index"
      :dNation="item.Nation"
    >
    </slot>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props: {
    data: {
      type: Array,
    },
  },
  data() {
    return {};
  },
  mounted() {},
};
</script>
