<template>
  <q-page class="q-pa-md q-gutter-md row">
    <q-card dark bordered class="bg-white text-black col-2">
      <q-card-section class="flex items-center">
        <q-icon name="widgets"></q-icon>
        <div class="text-subtitle2">內容選單</div>
      </q-card-section>

      <q-separator inset />
      <q-toggle
        v-model="openExpand"
        checked-icon="check"
        color="cyan-5"
        unchecked-icon="clear"
        label="全部展開"
      />

      <q-tree
        :nodes="tree"
        node-key="label"
        v-model:selected="selected"
        selected-color="cyan-5"
        ref="tree"
        accordion
        dense
        :default-expand-all="openExpand"
      />
    </q-card>
    <q-card dark bordered class="content-box2 bg-white text-black col-9">
      <q-card-section>
        <component :is="view" />
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import editor from "@pages/Content/IsCom/EditorCom.vue";
import list from "@pages/Content/IsCom/ListCom.vue";
export default {
  name: "ContentPage",
  components: {
    editor,
    list,
  },
  watch: {
    openExpand(val) {
      val ? this.$refs.tree.expandAll() : this.$refs.tree.collapseAll();
    },
    selected(val) {
      if (val === "公司簡介") this.view = "editor";
      else if (val === "公司榮譽") this.view = "list";
    },
  },

  data() {
    return {
      view: "editor",
      openExpand: true,
      selected: "",
      tree: [
        {
          label: "內容",
          children: [
            {
              label: "關於我們",
              children: [
                {
                  label: "公司簡介",
                },
                {
                  label: "公司榮譽",
                },
              ],
            },
          ],
        },
      ],
    };
  },
  created() {},
  mounted() {},
  methods: {},
};
</script>
<style scoped>
.content-box2 {
  width: calc(100% - 16.67% - 35px);
}
</style>
