<template>
  <q-dialog v-model="dialog">
    <q-card class="card-item">
      <q-card-section class="row items-center">
        <span class="q-ml-sm">提示</span>
        <q-space></q-space>
        <q-btn icon="close" flat round dense @click="closeDialog()" />
      </q-card-section>
      <q-card-section class="row items-center">
        <span class="q-ml-sm">確定刪除?</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="確定" color="primary" @click="closeDialog()" />
        <q-btn flat label="取消" color="primary" @click="closeDialog()" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script setup>
import { computed } from "vue";

const props = defineProps({
  dialogItem: {
    type: Boolean,
  },
});

const dialog = computed(() => props.dialogItem);
const emit = defineEmits(["closeDialog"]);
const closeDialog = () => {
  emit("closeDialog", dialog.value);
};
</script>
<style lang="scss" scoped>
.card-item {
  width: 400px;
}
</style>
