<template>
  <q-dialog v-model="dialog" full-width full-height>
    <q-card class="card-item">
      <q-card-section class="row items-center">
        <q-space></q-space>
        <q-btn icon="close" flat round dense @click="closeDialog()" />
      </q-card-section>
      <q-card-section>
        <div class="q-gutter-y-md">
          <q-card flat>
            <q-tabs
              v-model="tab"
              dense
              align="left"
              class="text-grey"
              active-color="cyan-5"
              indicator-color="cyan-5"
            >
              <q-tab name="content" label="基礎內容" />
              <q-tab name="setting" label="設定" />
            </q-tabs>
            <q-separator />
            <q-form
              @submit="
                {
                  tab.value === 'content' ? submitA() : submitB();
                }
              "
            >
              <q-tab-panels v-model="tab" animated>
                <q-tab-panel class="row" name="content">
                  <div class="row col-12">
                    <q-input
                      class="col-3 q-mr-md"
                      v-model="form1.input1"
                      square
                      outlined
                      lazy-rules
                      dense
                      :rules="[
                        (val) =>
                          (val && val.length > 0) || 'Please type something',
                      ]"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">文檔標題</label>
                      </template>
                    </q-input>
                    <q-input
                      class="col-2"
                      v-model="form1.input2"
                      square
                      outlined
                      lazy-rules
                      dense
                      :rules="[
                        (val) =>
                          (val && val.length > 0) || 'Please type something',
                      ]"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-ml-lg">副標題:</label>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12">
                    <q-select
                      class="col-3"
                      square
                      outlined
                      dense
                      v-model="form1.select"
                      :options="menuOptions"
                      label="Square outlined"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">選單分類</label>
                      </template>
                    </q-select>
                  </div>
                  <div class="row col-12 items-center q-mt-md">
                    <label class="text-subtitle2 q-mr-lg text-grey-6"
                      >文檔屬性</label
                    >
                    <q-option-group
                      class="col-3"
                      name="accepted_genres"
                      v-model="form1.propertyCheck"
                      :options="propertyOptions"
                      type="checkbox"
                      color="primary"
                      inline
                      lazy-rules
                    >
                    </q-option-group>
                    <span class="text-red-5" v-if="propertyCheckError"
                      >請選擇文檔屬性</span
                    >
                  </div>
                  <div class="row col-12">
                    <q-input
                      class="col-3 q-mr-md"
                      v-model="form1.input3"
                      square
                      outlined
                      lazy-rules
                      dense
                      :rules="[
                        (val) =>
                          (val && val.length > 0) || 'Please type something',
                      ]"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">文檔標籤</label>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12">
                    <label class="text-subtitle2 q-mr-lg text-grey-6"
                      >上傳圖片</label
                    >
                    <q-uploader
                      class="col-3"
                      multiple
                      square
                      url="http://localhost:4444/upload"
                      color="cyan-5"
                      no-thumbnails
                    >
                    </q-uploader>
                  </div>
                  <div class="row col-12 items-center q-mb-md">
                    <label class="text-subtitle2 q-mr-lg text-grey-6"
                      >付費限制</label
                    >
                    <q-option-group
                      v-model="form1.costRadio"
                      :options="costOptions"
                      color="cyan-5"
                      inline
                    />
                  </div>
                  <div class="row col-12">
                    <label class="text-subtitle2 q-mr-lg">上傳文件</label>
                    <div class="col-3">
                      <q-file
                        class="col-1 bg-cyan-5 q-mb-md"
                        ref="fileInput"
                        square
                        dense
                        outlined
                        label-color="white"
                        v-model="file"
                        modelValue
                        label="選擇文件"
                        @update:model-value="UpdateFile($event)"
                      >
                      </q-file>
                      <q-table
                        :columns="columns"
                        :rows="rowItem"
                        row-key="id"
                        square
                      >
                        <template v-slot:body-cell-operation="props">
                          <q-td :props="props">
                            <q-btn
                              class="bg-red-5 text-white text-subtitle2"
                              push
                              @click="deleteData(props.row)"
                              >刪除</q-btn
                            >
                          </q-td>
                        </template>
                      </q-table>
                    </div>
                  </div>
                </q-tab-panel>

                <q-tab-panel class="row" name="setting">
                  <div class="row col-12">
                    <q-input
                      class="col-3 q-mr-md"
                      v-model="form2.input1"
                      square
                      outlined
                      lazy-rules
                      dense
                      label="Louis"
                      disable
                      :rules="[
                        (val) =>
                          (val && val.length > 0) || 'Please type something',
                      ]"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">作者</label>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12">
                    <q-input
                      class="col-3 q-mr-md"
                      v-model="form2.input2"
                      square
                      outlined
                      lazy-rules
                      dense
                      label="網路"
                      disable
                      :rules="[
                        (val) =>
                          (val && val.length > 0) || 'Please type something',
                      ]"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">來源</label>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12">
                    <q-input
                      class="col-3 q-mr-md"
                      v-model="form2.input3"
                      square
                      outlined
                      lazy-rules
                      dense
                      :rules="[
                        (val) =>
                          (val && val.length > 0) || 'Please type something',
                      ]"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">點擊數</label>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12">
                    <q-input
                      class="col-3 q-mr-md"
                      v-model="form2.input4"
                      square
                      outlined
                      lazy-rules
                      dense
                      :rules="[
                        (val) =>
                          (val && val.length > 0) || 'Please type something',
                      ]"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">下載數</label>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12">
                    <q-input
                      outlined
                      dense
                      square
                      v-model="form2.date"
                      mask="date"
                      :rules="['date']"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-sm">發佈時間</label>
                      </template>
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy
                            cover
                            transition-show="scale"
                            transition-hide="scale"
                          >
                            <q-date v-model="form2.date">
                              <div class="row items-center justify-end">
                                <q-btn
                                  v-close-popup
                                  label="Close"
                                  color="primary"
                                  flat
                                />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12">
                    <q-input
                      dense
                      square
                      outlined
                      v-model="form2.html"
                      type="html"
                      suffix=".html"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">網址</label>
                      </template>
                    </q-input>
                  </div>
                </q-tab-panel>
              </q-tab-panels>
              <q-btn flat label="確定" type="submit" color="cyan-5" />
              <q-btn flat label="取消" color="cyan-5" @click="closeDialog()" />
            </q-form>
          </q-card>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup>
import { computed, ref } from "vue";
import { useQuasar } from "quasar";
const props = defineProps({
  dialogItem: {
    type: Boolean,
  },
});
const $q = useQuasar();
const dialog = computed(() => props.dialogItem);
const emit = defineEmits(["closeDialog"]);
const closeDialog = () => {
  emit("closeDialog", dialog.value);
};
const tab = ref("content");
const form1 = ref({
  input1: "",
  input2: "",
  input3: "",
  select: "",
  propertyCheck: ["hot"],
  costRadio: "free",
});
const form2 = ref({
  input1: "",
  input2: "",
  input3: "",
  input4: "",
  date: "2023/03/17",
  html: "",
});
const propertyCheckError = ref(false);
const file = ref([]);
const menuOptions = ref(["Google", "Facebook", "Twitter", "Apple", "Oracle"]);
const propertyOptions = ref([
  { label: "熱門", value: "hot" },
  { label: "推薦", value: "recommend" },
  { label: "置頂", value: "top" },
]);

const costOptions = ref([
  { label: "免費", value: "free" },
  { label: "付費", value: "pay" },
]);

const columns = [
  {
    name: "file",
    label: "文件名稱",
    field: "file",
    align: "left",
    sortable: true,
  },
  {
    name: "server",
    field: "server",
    label: "服務器",
  },
  {
    name: "size",
    field: "size",
    label: "文件大小",
  },
  {
    name: "state",
    field: "state",
    label: "狀態",
  },
  {
    name: "operation",
    field: "operation",
    label: "操作",
    align: "center",
    style: "width: 10%",
  },
];
const originalRows = [
  {
    file: "文件1",
    server: "服務器1",
    size: "100KB",
    state: "已上傳",
    operation: "刪除",
  },
  {
    file: "文件2",
    server: "服務器2",
    size: "200KB",
    state: "已上傳",
    operation: "刪除",
  },
  {
    file: "文件3",
    server: "服務器3",
    size: "300KB",
    state: "已上傳",
    operation: "刪除",
  },
];
const rowItem = ref([...originalRows]);

function UpdateFile(value) {
  let file = {
    file: value.name,
    server: "服務器1",
    size: value.size,
    state: "已上傳",
    operation: "刪除",
  };
  rowItem.value.unshift(file);
}

function submitA() {
  let submitSuccess;
  Object.values(form1.value).forEach((item) => {
    item ? (submitSuccess = true) : (submitSuccess = false);
  });
  submitSuccess
    ? $q.notify({
        icon: "insert_emoticon",
        message: "登入成功",
        color: "cyan",
        position: "top",
        timeout: 1500,
      })
    : $q.notify({
        icon: "insert_emoticon",
        message: "登入失敗",
        color: "red",
        position: "top",
        timeout: 1500,
      });
  setTimeout(closeDialog, 3000);
  console.log("submitA");
}
function submitB() {
  let submitSuccess;
  Object.values(form2.value).forEach((item) => {
    item ? (submitSuccess = true) : (submitSuccess = false);
  });
  submitSuccess
    ? $q.notify({
        icon: "insert_emoticon",
        message: "登入成功",
        color: "cyan",
        position: "top",
        timeout: 1500,
      })
    : $q.notify({
        icon: "insert_emoticon",
        message: "登入失敗",
        color: "red",
        position: "top",
        timeout: 1500,
      });
  setTimeout(closeDialog, 3000);
  console.log("submitB");
}
function deleteData(row) {
  rowItem.value.splice(rowItem.value.indexOf(row), 1);
}
function checkForm() {
  if (tab.value == "content") {
    if (!form1.value.propertyCheck.length) {
      form1.value.propertyCheck = ["hot"];
    }
  }
}
checkForm();
</script>

<style lang="scss" scoped>
.card-item {
  width: 400px;
}
</style>
