<template>
  <div class="row column">
    <div class="row items-center text-h6 q-mb-md">
      <q-item class="items-center" dense href="/content">
        <q-icon name="arrow_back"></q-icon>
      </q-item>
      <div class="q-ml-xs">公司簡介</div>
    </div>
    <div class="row q-mt-md q-mb-md">
      <div class="col-1 text-subtitle-1 text-center">內容詳情</div>
      <q-editor
        class="col-8"
        v-model="qeditor"
        :definitions="{
          bold: { label: 'Bold', icon: null, tip: 'My bold tooltip' },
        }"
      />
    </div>

    <q-btn
      :loading="loading"
      dense
      size="sm"
      color="cyan-5"
      label="確認提交"
      @click="submit()"
    ></q-btn>
  </div>
</template>
<script setup>
import { useQuasar } from "quasar";
import { ref } from "vue";
const loading = ref(false);
const $q = useQuasar();
const qeditor =
  "<pre>Check out the two different types of dropdowns" +
  ' in each of the "Align" buttons.</pre> ';

function submit() {
  loading.value = true;
  setTimeout(() => {
    loading.value = false;
    $q.notify({
      message: "提交成功",
      color: "positive",
      position: "top",
      timeout: 1000,
    });
  }, 2000);
}
</script>
