<template>
  <div>
    <div class="q-gutter-xs row justify-between">
      <q-btn
        class="no-border-radius"
        align="left"
        color="cyan-5"
        icon="add"
        size="xs"
        label="發布文檔"
        dense
        fab-mini
      />
      <q-input
        class="col-1"
        debounce="300"
        color="primary"
        v-model="filter"
        placeholder="Search"
        dense
      >
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
    </div>
    <div class="q-mt-md">
      <q-table
        :rows="rows"
        :columns="columns"
        row-key="name"
        :selected-rows-label="getSelectedString"
        selection="multiple"
        v-model:selected="selected"
        :filter="filter"
      >
        <template v-slot:body-cell-operator="props">
          <q-td :props="props">
            <q-btn
              class="bg-cyan-5 text-white q-mr-md text-subtitle2"
              push
              @click="openEditDialog()"
              >編輯</q-btn
            >
            <q-btn
              class="bg-red-5 text-white text-subtitle2"
              push
              @click="openDeleteDialog()"
              >刪除</q-btn
            >
          </q-td>
        </template>
      </q-table>
    </div>
  </div>
  <DeleteCom :dialogItem="dialogDelete" @closeDialog="closeDialog" />
  <EditCom :dialogItem="dialogEdit" @closeDialog="closeDialog" />
</template>
<script setup>
import { ref } from "vue";
import DeleteCom from "@components/Dialog/DeleteCom.vue";
import EditCom from "@components/Dialog/EditCom.vue";
const filter = ref("");
const selected = ref([]);
const dialogDelete = ref(false);
const dialogEdit = ref(false);
const columns = [
  {
    name: "name",
    required: true,
    label: "ID",
    align: "center",
    field: (row) => row.name,
    format: (val) => `${val}`,
  },
  {
    name: "title",
    align: "left",
    label: "標題",
    field: "title",
    style: "width: 50%",
  },
  { name: "menu", label: "選單", field: "menu" },
  {
    name: "check",
    label: "審核",
    field: "check",
    sortable: true,
  },
  { name: "click", label: "點擊", field: "click" },
  { name: "release_time", label: "發布時間", field: "release_time" },
  {
    name: "operator",
    label: "操作",
    field: "operator",
    align: "center",
    style: "width: 15%",
    sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
  },
  {
    name: "sort",
    label: "排序",
    field: "sort",
    sortable: true,
    style: "width: 5%",
    align: "left",
    sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
  },
];
const rows = [
  {
    name: 1,
    title: "apple",
    menu: 6.0,
    check: "是",
    click: 4.0,
    release_time: 87,
    operator: "",
    sort: 1,
  },
  {
    name: 2,
    title: "banana",
    menu: 9.0,
    check: "是",
    click: 4.3,
    release_time: 129,
    calcium: "",
    sort: 2,
  },
  {
    name: 3,
    title: "cherry",
    menu: 16.0,
    check: "是",
    click: 6.0,
    release_time: 337,
    calcium: "",
    sort: 3,
  },
  {
    name: 4,
    title: "durian",
    menu: 3.7,
    check: "是",
    click: 4.3,
    release_time: 413,
    calcium: "",
    sort: 4,
  },
  {
    name: 5,
    title: "eggplant",
    menu: 16.0,
    check: "是",
    click: 3.9,
    release_time: 327,
    calcium: "",
    sort: 5,
  },
  {
    name: 6,
    title: "fig",
    menu: 0.0,
    check: "是",
    click: 0.0,
    release_time: 50,
    calcium: "",
    sort: 6,
  },
  {
    name: 7,
    title: "grapefruit",
    menu: 0.2,
    check: "是",
    click: 0,
    release_time: 38,
    calcium: "",
    sort: 7,
  },
  {
    name: 8,
    title: "honeydew melon",
    menu: 3.2,
    check: "是",
    click: 6.5,
    release_time: 562,
    calcium: "",
    sort: 8,
  },
  {
    name: 9,
    title: "ice cream",
    menu: 25.0,
    check: "是",
    click: 4.9,
    release_time: 326,
    calcium: "",
    sort: 9,
  },
  {
    name: 10,
    title: "jelly beans",
    menu: 26.0,
    check: "是",
    click: 7,
    release_time: 54,
    calcium: "",
    sort: 10,
  },
];
function openDeleteDialog() {
  dialogDelete.value = true;
}
function openEditDialog() {
  dialogEdit.value = true;
}
function closeDialog() {
  dialogDelete.value = false;
  dialogEdit.value = false;
}
function getSelectedString() {
  return selected.value.length === 0
    ? ""
    : `${selected.value.length} record${
        selected.value.length > 1 ? "s" : ""
      } selected of ${rows.length}`;
}
</script>
<style lang="scss" scoped>
.card-item {
  width: 400px;
}
</style>
