<template>
  <q-layout view="hHh Lpr lFf">
    <q-header class="bg-cyan fixed-top-left">
      <q-toolbar dense>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="fcToggleLeftDrawer()"
        />

        <q-toolbar-title> </q-toolbar-title>

        <q-btn round flat>
          <q-menu>
            <div class="row no-wrap q-pa-md">
              <div class="column items-center">
                <q-btn
                  v-close-popup
                  color="cyan"
                  label="登出"
                  outline
                  size="sm"
                  @click="fcLogout()"
                />
              </div>
            </div>
          </q-menu>
          <q-avatar size="26px">
            <q-icon name="person" />
          </q-avatar>
        </q-btn>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
      <q-separator color="grey-3" />

      <div class="q-gutter-sm">
        <TabCom :tab-items="tabItem" dense />
      </div>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered :width="200">
      <q-item-label header class="text-h6 text-cyan-5">
        Quasar Pro
      </q-item-label>
      <MenuCom
        :tab-item="tabItem"
        :showItem="visible"
        @changeLoading="fcChangeLoading"
      />
    </q-drawer>

    <q-page-container>
      <router-view v-slot="{ Component }">
        <transition name="fade-transform" mode="out-in">
          <keep-alive>
            <component :is="Component"></component>
          </keep-alive>
        </transition>
      </router-view>

      <q-inner-loading
        :showing="visible"
        color="cyan"
        label="加載中..."
        label-class="text-cyan"
        label-style="font-size: 1.1em"
        transition-duration="500"
      >
      </q-inner-loading>
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from "vue";
import { useRouter } from "vue-router";
import MenuCom from "@components/Global/MenuCom.vue";
import TabCom from "@components/Global/TabCom.vue";

export default {
  name: "MainLayout",
  components: {
    MenuCom,
    TabCom,
  },

  setup() {
    const router = useRouter();
    const leftDrawerOpen = ref(false);
    const tabItem = ref([]);
    const tab = ref(0);
    const visible = ref(true);
    // 側欄開關
    function fcToggleLeftDrawer() {
      leftDrawerOpen.value = !leftDrawerOpen.value;
    }
    // 登出
    function fcLogout() {
      sessionStorage.clear();
      setTimeout(() => {
        router.push("/login");
      }, 500);
    }

    function fcChangeLoading(value) {
      visible.value = true;
      setTimeout(() => {
        visible.value = value;
      }, 500);
    }
    fcChangeLoading(false);
    return {
      leftDrawerOpen,
      tabItem,
      tab,
      visible,
      fcToggleLeftDrawer,
      fcLogout,
      fcChangeLoading,
    };
  },
};
</script>
<style lang="scss" scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 1s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
