<template>
  <div class="row">
    <q-card class="col-12">
      <q-card-section>
        <div>評價詳情</div>
        <q-separator class="q-my-md" />
        <Form @submit="submit()" v-slot="{ values }">
          <div class="row">
            <div class="row col-12 flex-wrap q-mb-md">
              <div
                class="row col-12"
                v-for="{ as, name, label, ...attrs } in formSchema.fields"
                :key="name"
              >
                <label class="col-1" :for="name">{{ label }}</label>
                <Field :as="as" :id="name" :name="name" v-bind="attrs" />
                <ErrorMessage :name="name" />
              </div>
            </div>

            <div class="col-12 q-mb-md">
              <label class="q-mr-md">評分等級</label>
              <img src="" alt="" />
              <q-rating
                v-model="form.ratingModel"
                size="2em"
                :max="5"
                color="cyan-5"
              />
            </div>
            <div class="row col-12 q-mb-md">
              <label class="q-mr-md">評價內容</label>
              <Field
                name="evaluation"
                class="col-3"
                v-model="form.evaluation"
                type="textarea"
                filled
                :rules="rulesEvaluation"
              />
              <ErrorMessage name="evaluation" type="textarea" />
            </div>
            <div class="row col-12 q-mb-md">
              <label class="q-mr-md">評價時間</label>
              <Field
                name="time"
                class="col-3"
                v-model="form.time"
                type="text"
                filled
                disabled
              />
            </div>
            <div class="row col-12 q-mb-md items-center">
              <label class="q-mr-md">審核狀態</label>
              <q-option-group
                v-model="form.review"
                :options="options"
                color="cyan-5"
                inline=""
              />
            </div>
            <div class="row col-12">
              <q-btn flat label="確定提交" type="submit" color="cyan-5" />
            </div>
          </div>
          <pre>{{ values }}</pre>
        </Form>
      </q-card-section>
    </q-card>
  </div>
</template>
<script setup>
import { Field, Form, ErrorMessage } from "vee-validate";
import { ref } from "vue";
import { useQuasar } from "quasar";
import * as yup from "yup";
const formSchema = {
  fields: [
    {
      label: "Your Name",
      name: "name",
      as: "input",
      rules: yup.string().required(),
    },
    {
      label: "Your Email",
      name: "email",
      as: "input",
      reles: yup.string().email().required(),
    },
    {
      label: "Your Message",
      name: "message",
      as: "input",
      type: "textarea",
      rules: yup.string().min(6).required(),
    },
  ],
};
const $q = useQuasar();
const form = ref({
  order: "20230303000130",
  message: "商品信息",
  time: "2023-03-27",
  evaluation: "",
  ratingModel: 1,
  review: "a",
});

const options = [
  { label: "審核通過", value: "a" },
  { label: "審核不通過", value: "b" },
];

function rulesEvaluation(value) {
  // if the field is empty
  if (!value) {
    return "This field is required";
  }
  // if the field is not a valid email

  if (!value) {
    return "This field must be a valid";
  }
  // All is good
  return true;
}
// 驗證完提交
function submit() {
  Object.values(form.value).forEach((item) => {
    if (!item) {
      $q.notify({
        message: "請填寫完整信息",
        color: "negative",
        position: "top",
      });
      return;
    }
  });
}
</script>
<style lang="scss" scoped>
.sale-box {
  width: 49.5%;
}
</style>
