<template>
  <div class="row">
    <q-card class="card-item">
      <q-card-section>
        <div class="q-gutter-y-md">
          <q-card flat>
            <q-tabs
              class="text-grey"
              align="left"
              v-model="tab"
              dense
              active-color="cyan-5"
              indicator-color="cyan-5"
            >
              <q-tab name="content" label="基礎內容" />
              <q-tab name="setting" label="設定" />
            </q-tabs>
            <q-separator />
            <q-form @submit="submit()">
              <q-tab-panels v-model="tab" animated>
                <q-tab-panel class="row" name="content">
                  <div class="row col-12 q-mb-sm">
                    <q-input
                      class="col-3 q-mr-md"
                      v-model="form1.input1"
                      square
                      outlined
                      dense
                      :rules="[rulesLen]"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">文檔標題</label>
                      </template>
                    </q-input>
                    <q-input
                      class="col-2"
                      v-model="form1.input2"
                      square
                      outlined
                      dense
                      :rules="[rulesLen]"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-ml-lg">副標題:</label>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12 q-mb-sm">
                    <q-select
                      class="col-3"
                      square
                      outlined
                      dense
                      v-model="form1.select"
                      :options="menuOptions"
                      label="Square outlined"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">選單分類</label>
                      </template>
                    </q-select>
                  </div>
                  <div class="row col-12 items-center q-mb-sm">
                    <label class="text-subtitle2 q-mr-lg text-grey-6"
                      >文檔屬性</label
                    >
                    <q-option-group
                      class="col-3"
                      name="accepted_genres"
                      v-model="form1.propertyCheck"
                      :options="propertyOptions"
                      type="checkbox"
                      color="cyan-5"
                      inline
                    >
                    </q-option-group>
                  </div>
                  <div class="row col-12 q-mb-sm">
                    <q-input
                      class="col-3 q-mr-md"
                      v-model="form1.input3"
                      square
                      outlined
                      lazy-rules
                      dense
                      :rules="[rulesLen]"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">文檔標籤</label>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12 q-mb-sm">
                    <label class="text-subtitle2 q-mr-lg text-grey-6"
                      >上傳圖片</label
                    >
                    <q-uploader
                      class="col-3"
                      multiple
                      square
                      url="http://localhost:4444/upload"
                      color="cyan-5"
                      no-thumbnails
                    >
                    </q-uploader>
                  </div>
                  <div class="row col-12 items-center q-mb-sm">
                    <label class="text-subtitle2 q-mr-lg text-grey-6"
                      >付費限制</label
                    >
                    <q-option-group
                      v-model="form1.costRadio"
                      :options="costOptions"
                      color="cyan-5"
                      inline
                    />
                  </div>
                  <div class="row col-12">
                    <draggable
                      class="row col-12"
                      :list="state.list"
                      item-key="id"
                      ghost-class="ghost"
                      chosen-class="chosenClass"
                      animation="300"
                      @start="onStart"
                      @end="onEnd"
                    >
                      <template v-slot:item="props">
                        <div class="col-1" style="cursor: move">
                          <div>{{ props.element.name }}</div>
                          <q-checkbox
                            v-model="props.element.checked"
                            color="cyan-5"
                          />
                        </div>
                      </template>
                    </draggable>

                    <div>{{ state.list }}</div>
                  </div>
                </q-tab-panel>
                <q-tab-panel class="row" name="setting">
                  <div class="row col-12 q-mb-md">
                    <q-input
                      class="col-3 q-mr-md"
                      v-model="form2.input1"
                      square
                      outlined
                      dense
                      disable
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">作者</label>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12 q-mb-md">
                    <q-input
                      class="col-3 q-mr-md"
                      v-model="form2.input2"
                      square
                      outlined
                      dense
                      disable
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">來源</label>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12 q-mb-md">
                    <q-input
                      class="col-3 q-mr-md"
                      v-model="form2.input3"
                      square
                      outlined
                      disable
                      dense
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">點擊數</label>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12 q-mb-md">
                    <q-input
                      class="col-3 q-mr-md"
                      v-model="form2.input4"
                      square
                      outlined
                      dense
                      disable
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">下載數</label>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12 q-mb-md">
                    <q-input
                      outlined
                      dense
                      square
                      v-model="form2.date"
                      mask="date"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-sm">發佈時間</label>
                      </template>
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy
                            cover
                            transition-show="scale"
                            transition-hide="scale"
                          >
                            <q-date v-model="form2.date">
                              <div class="row items-center justify-end">
                                <q-btn
                                  v-close-popup
                                  label="Close"
                                  color="primary"
                                  flat
                                />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="row col-12">
                    <q-input
                      dense
                      square
                      outlined
                      v-model="form2.html"
                      type="html"
                      suffix=".html"
                      :rules="[rulesHtml]"
                    >
                      <template v-slot:before>
                        <label class="text-subtitle2 q-mr-lg">網址</label>
                      </template>
                    </q-input>
                  </div>
                </q-tab-panel>
              </q-tab-panels>
              <q-btn flat label="確定" type="submit" color="cyan-5" />
              <q-btn flat label="取消" color="cyan-5" @click="closeDialog()" />
            </q-form>
          </q-card>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>
<script setup>
import { ref, computed, reactive } from "vue";
import { useQuasar } from "quasar";
import draggable from "vuedraggable";
const rulesHtml = computed(() => {
  let regex = /[a-z]{3,6}/g;
  return (value) => {
    if (!regex.test(value)) {
      return "至少包含連續3-6位元英文字";
    }
    return true;
  };
});
const rulesLen = computed(() => {
  let regex = /\S/g;
  return (value) => {
    if (!regex.test(value)) {
      return "不可包含空白";
    }
    return true;
  };
});
// function rulesHtml(value) {
//   let regex = /[a-z]{3,6}/g;
//   if (!regex.test(value)) {
//     return "必須包含3-6位元英文字";
//   }
//   return true;
// }
const state = reactive({
  list: [
    { name: "img", id: 0, checked: false },
    { name: "iframe", id: 1, checked: false },
    { name: "video", id: 2, checked: true },
  ],
});
//拖拽开始的事件
const onStart = () => {
  console.log("開始拖曳");
};
//拖拽结束的事件
const onEnd = () => {
  console.log("結束拖曳");
};
const $q = useQuasar();
const tab = ref("content");
const form1 = ref({
  input1: "",
  input2: "",
  input3: "",
  select: "",
  propertyCheck: ["hot"],
  costRadio: "free",
});
const form2 = ref({
  input1: "Louis",
  input2: "網路",
  input3: "235",
  input4: "556",
  date: "",
  html: "",
});
const menuOptions = ref(["Google", "Facebook", "Twitter", "Apple", "Oracle"]);
const propertyOptions = ref([
  { label: "熱門", value: "hot" },
  { label: "推薦", value: "recommend" },
  { label: "置頂", value: "top" },
]);
const costOptions = ref([
  { label: "免費", value: "free" },
  { label: "付費", value: "pay" },
]);

function submit() {
  if (tab.value == "content") {
    submitHandler(form1);
    console.log("submitA", form1.value);
  } else {
    submitHandler(form2);
    console.log("submitB", form2.value);
  }
}
function submitHandler(form) {
  let submitSuccess;
  Object.values(form.value).forEach((item) => {
    item ? (submitSuccess = true) : (submitSuccess = false);
  });
  submitSuccess
    ? $q.notify({
        icon: "insert_emoticon",
        message: "登入成功",
        color: "cyan",
        position: "top",
        timeout: 1500,
      })
    : $q.notify({
        icon: "insert_emoticon",
        message: "登入失敗",
        color: "red",
        position: "top",
        timeout: 1500,
      });
}
</script>
<style lang="scss" scoped>
//
</style>
