<template>
  <div class="row">
    <q-card class="q-my-md col-12" square>
      <q-card-section>
        <div>數據統計</div>
        <div class="row justify-center">
          <div>
            <q-input filled v-model="startDate" dense>
              <template v-slot:before>
                <label class="text-subtitle2">開始日期</label>
              </template>
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    cover
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date v-model="startDate" mask="YYYY-MM-DD HH:mm">
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>

              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy
                    cover
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-time
                      v-model="startDate"
                      mask="YYYY-MM-DD HH:mm"
                      format24h
                    >
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-time>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div>
            <q-input filled v-model="endDate" dense>
              <template v-slot:before>
                <label class="text-subtitle2">結束日期</label>
              </template>
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    cover
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date v-model="endDate" mask="YYYY-MM-DD HH:mm">
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>

              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy
                    cover
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-time v-model="endDate" mask="YYYY-MM-DD HH:mm" format24h>
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-time>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="row col-12 justify-around">
            <div
              v-for="(item, index) in dataStatistics"
              :key="index"
              class="col-3 q-ma-lg"
            >
              <q-avatar
                class="q-mr-md"
                size="60px"
                font-size="28px"
                color="cyan-5"
                text-color="white"
                :icon="item.icon"
              />
              <span>{{ item.name }}</span>
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-card class="q-my-md col-12" square>
      <q-card-section>
        <div>近七日交易走勢</div>
        <Line :data="data" :options="options" style="height: 500px" />
      </q-card-section>
    </q-card>
    <div class="row col-12 justify-between q-py-md">
      <q-card class="sale-box" square>
        <q-table
          title="產品銷售榜"
          :rows="rows"
          :columns="columns"
          row-key="name"
          hide-pagination
        >
        </q-table>
      </q-card>
      <q-card class="sale-box" square>
        <q-table
          title="用戶消費榜"
          :rows="rowsUser"
          :columns="columnsUser"
          row-key="name"
          hide-pagination
        >
        </q-table>
      </q-card>
    </div>
  </div>
</template>
<script setup>
import { ref, computed } from "vue";
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend,
} from "chart.js";
import { Line } from "vue-chartjs";
const startDate = ref("2021-01-01 00:00");
const endDate = ref("2021-02-01 00:00");
const dataStatistics = [
  {
    name: "用戶數量",
    value: 100,
    icon: "person",
  },
  {
    name: "訂單數量",
    value: 100,
    icon: "shopping_cart",
  },
  {
    name: "商品數量",
    icon: "diamond",
  },
  {
    name: "消費人數",
    icon: "group",
  },
  {
    name: "訂單消費金額",
    icon: "attach_money",
  },
  {
    name: "充值總額",
    icon: "attach_money",
  },
];
ChartJS.register(
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
);
const data = {
  labels: [
    "2023-03-14",
    "2023-03-15",
    "2023-03-16",
    "2023-03-17",
    "2023-03-18",
    "2023-03-19",
    "2023-03-20",
  ],
  datasets: [
    {
      label: "成交量",
      backgroundColor: "#26c6da",
      data: [0, 5000, 0, 2000, 7000, 2000, 3500],
    },
  ],
};
const options = {
  responsive: true,
  maintainAspectRatio: true,
};
const randomData = computed(() => {
  return Math.floor(Math.random() * 10000);
});
const columns = [
  {
    name: "name",
    label: "排名",
    field: "name",
    align: "center",
  },
  {
    name: "product",
    label: "商品",
    field: "product",
    align: "left",
  },
  {
    name: "sales",
    label: "銷量",
    field: "sales",
  },
  {
    name: "amount",
    label: "銷售額",
    field: "amount",
  },
];
const rows = [
  {
    name: "1",
    product: "商品1",
    sales: "100",
    amount: parseInt(randomData.value * 0.9),
  },
  {
    name: "2",
    product: "商品2",
    sales: "100",
    amount: parseInt(randomData.value * 0.8),
  },
  {
    name: "3",
    product: "商品3",
    sales: "100",
    amount: parseInt(randomData.value * 1.2),
  },
  {
    name: "4",
    product: "商品4",
    sales: "100",
    amount: parseInt(randomData.value * 1.1),
  },
  {
    name: "5",
    product: "商品5",
    sales: "100",
    amount: parseInt(randomData.value * 0.7),
  },
];
const columnsUser = [
  {
    name: "name",
    label: "排名",
    field: "name",
    align: "center",
  },
  {
    name: "nickname",
    label: "用戶暱稱",
    field: "nickname",
    align: "left",
  },

  {
    name: "amount",
    label: "實際消費金額",
    field: "amount",
  },
];
const rowsUser = [
  {
    name: "1",
    nickname: "rabbit",
    amount: parseInt(randomData.value * 0.9),
  },
  {
    name: "2",
    nickname: "rabbit",
    amount: parseInt(randomData.value * 1.7),
  },
  {
    name: "3",
    nickname: "rabbit",
    amount: parseInt(randomData.value * 1.3),
  },
  {
    name: "4",
    nickname: "rabbit",
    amount: parseInt(randomData.value * 0.6),
  },
  {
    name: "5",
    nickname: "rabbit",
    amount: parseInt(randomData.value * 0.7),
  },
];
</script>
<style lang="scss" scoped>
.sale-box {
  width: 49.5%;
}
</style>
