<template>
  <q-list v-for="(item, index) in menu_list" :key="index">
    <q-item
      v-if="item.children.length === 0"
      :to="item.path"
      active-class="text-cyan-5"
      :inset-level="0"
      @click="fcAddTab(item, index)"
    >
      <q-item-section>
        <q-icon size="1.3rem" :name="item.icon" />
      </q-item-section>
      <q-item-section>
        <q-item-label>{{ item.name }}</q-item-label>
      </q-item-section>
    </q-item>
    <q-expansion-item
      v-else
      expand-separator
      default-opened
      icon="school"
      :label="item.name"
      :header-inset-level="0"
      :content-inset-level="1.5"
    >
      <q-item :to="item.children[0].path" @click="fcAddTab(item, index)">
        <q-item-section>
          <q-item-label>{{ item.children[0].name }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-expansion-item>
  </q-list>
</template>

<script setup>
import { reactive, computed } from "vue";
const props = defineProps({
  tabItem: {
    type: Array,
    default: () => [],
  },
  showItem: {
    type: Boolean,
    default: false,
  },
});
const emit = defineEmits(["changeLoading"]);
const menu_list = reactive([
  {
    path: "",
    name: "基本訊息",
    icon: "school",
    children: [
      {
        path: "/docs/tree",
        name: "二元樹",
      },
    ],
  },
  {
    path: "/content",
    name: "內容",
    icon: "school",
    children: [],
  },
  {
    path: "/mall-center",
    name: "商城中心",
    icon: "person",
    children: [],
  },

  {
    path: "/text",
    name: "文字",
    icon: "book",
    children: [],
  },
  {
    path: "/snake",
    name: "貪吃蛇",
    icon: "code",
    children: [],
  },
  {
    path: "/flappy-bird",
    name: "彈跳鳥",
    icon: "book",
    children: [],
  },

  {
    path: "/circle-fork",
    name: "圈叉遊戲",
    icon: "circle",
    children: [],
  },
]);
const tabItems = computed(() => {
  return props.tabItem;
});

// 新增tab
function fcAddTab(item, index) {
  //  沒有該元素時
  if (props.tabItem.indexOf(item) == -1) {
    tabItems.value.push(item);
  }
  fcCheckTab();
  sessionStorage.setItem(index, JSON.stringify(item));
  emit("changeLoading", false);
}
// // 判斷是否重複
function fcCheckTab() {
  if (tabItems.value.length > 1) {
    for (let i = 0; i < tabItems.value.length; i++) {
      for (let j = i + 1; j < tabItems.value.length; j++) {
        if (tabItems.value[i].name == tabItems.value[j].name) {
          tabItems.value.splice(j, 1);
        }
      }
    }
  }
}
</script>
