<template>
  <q-tabs align="left" inline-label class="text-white shadow-2">
    <q-route-tab to="/">
      <q-icon size="1.3rem" name="home" />
      <div class="line-limit-length">首頁</div>
    </q-route-tab>
    <template v-for="(item, index) in tabItem" :key="index">
      <q-route-tab
        v-if="item.children.length === 0"
        :to="item.path"
        :name="item.name"
      >
        <q-icon size="1.3rem" :name="item.icon" />

        <div>{{ item.name }}</div>
        <q-icon name="close" @click.prevent="fcRemoveTab(item)"></q-icon>
      </q-route-tab>
      <q-route-tab
        v-for="(childItem, childIndex) in item.children"
        :key="childIndex"
        :to="childItem.path"
        :name="childItem.name"
      >
        <q-icon size="1.3rem" :name="childItem.icon" />
        <div>
          {{ childItem.name }}
        </div>
        <q-icon name="close" @click.prevent="fcRemoveTab(item)"></q-icon>
      </q-route-tab>
    </template>
  </q-tabs>
</template>
<script setup>
import { computed } from "vue";
import { useRouter } from "vue-router";
const props = defineProps({
  tabItems: {
    type: Array,
    default: () => [],
  },
});
const tabItem = computed(() => props.tabItems);

const router = useRouter();
// 獲取tab
function fcGetTab() {
  for (let i = 0; i < sessionStorage.length; i++) {
    let key = sessionStorage.key(i);
    let value = sessionStorage.getItem(key);
    tabItem.value.push(JSON.parse(value));
  }
}
fcGetTab();
// 刪除tab
function fcRemoveTab(item) {
  let tab_index = tabItem.value.indexOf(item);
  for (let i = 0; i < sessionStorage.length; i++) {
    let key = sessionStorage.key(i);
    let value = sessionStorage.getItem(key);
    if (item.name == JSON.parse(value).name) {
      sessionStorage.removeItem(key);
      tabItem.value.splice(tab_index, 1);
    }
  }
  fcCheckPath(item);
}
// 刪除tab是否為當前路由
function fcCheckPath(item) {
  let path = router.currentRoute.value.path.replace("/", "");
  if (tabItem.value.length == 0) {
    router.push("/");
    return;
  }
  if (item.name != path) {
    router.push("/" + path);
  } else {
    router.push("/" + tabItem.value[tabItem.value.length - 1].name);
  }
}
</script>
